@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body{
    background: rgb(61, 61, 61) no-repeat top center;
}

main {
    position: relative;
    height: 100vh;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 81px;
    left: 22px;
    width: 269px;
    height: 471px;

}